<html>
    <head>
        <title>Добавление автомобиля в маркет</title>
    </head>
    <body>
        <h3>Добавление автомобиля в маркет</h3>
        <form action="/market/{{ market.id }}/addcar" method="POST">
            <span>Добавить автомобиль: </span><input type="text" name="car_id"><br />
            <input type="submit" value="Отправить">
        </form>
    </body>
</html>