<html>
    <head>
        <title>Добавление автомобиля к человеку</title>
    </head>
    <body>
        <h3>Добавление автомобиля к человеку</h3>
        <a href="/">На главную</a><br>
        <a href="/person/{{person.id}}">Назад</a><br><br>
        <form action="/person/{{ person.id }}/addcar" method="POST">
            <span>Добавить автомобиль: </span><input type="text" name="car_id"><br />
            <input type="submit" value="Отправить">
        </form>
    </body>
</html>