<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Автомобиль</title>
</head>
<body>
  <h3>Автомобиль</h3> <br>
  <a href="/">На главную</a><br><br>
  <strong>Наименование: {{ car.name }}</strong><br>
  <strong>Цена: {{ car.price }}</strong><br>
  <strong>История владения:</strong><br>
  <ul>
  {% for owner in car.history %}
    <li>{{owner['name']}}{{owner['fullname']}}</li><br>
  {% endfor %}
  </ul>
  
</body>
</html>