<html>
    <head>
        <title>Редактирование автомаркета</title>
    </head>
    <body>
        <h3>Редактирование автомаркета "{{ market.name }}"</h3>
        <form action="/market/edit/{{ market.id }}" method="POST">
            <span>Название автомаркета: </span><input type="text" name="market_name" value="{{ market.name }}"><br />
            <input type="submit" value="Отправить">
        </form>
    </body>
</html>