<html>
    <head>
        <title>Python learning</title>
    </head>
    <body>
        <h3>Автомаркеты</h3>
        <a href='/market/add'>Создать маркет</a><br />
        <a href='/car/add'>Создать машину</a><br />
        <a href='/person/add'>Создать человека</a><br /><br /><br />

        {% if markets %}

            {% for market in markets %}
                <a href="/market/{{ market.id }}">{{ market.name }}</a><br />
            {% endfor %}

        {% else %}
            <i>Нет автомаркетов :-(</i><br />
        {% endif %}
        <h3>Люди</h3>
        {% if persons %}
            {% for person in persons %}
                <a href="/person/{{ person.id }}">{{ person.fullname }}</a><br />
            {% endfor %}
        {% else %}
            <i>Нет человеков :-(</i><br />
        {% endif %}
    </body>
</html>