<html>
    <head>
        <title>Python learning</title>
    </head>
    <body>
        <h3>Автомаркет</h3>

        {% if market %}
            <a href="/market/{{ market.id }}/edit">Редактировать</a><br />
            <a href="/market/{{ market.id }}/buyCar">Покупка машины</a><br />
            <a href="/market/{{ market.id }}/addcar">Добавить машину</a><br /><br />
            <strong>Наименование: </strong>{{ market.name }}<br />
            <strong>Баланс: </strong>{{ market.balance }}<br />
            <strong>Машины: </strong><br />
            {% for car in market.cars %}
            <a href="/car/{{ car.id }}">{{ car.name }}</a><br />
            {% endfor %}

        {% else%}

            <i>Ошибка в введенных данных</i><br />

        {% endif %}
        <a href="/">На главную</a>
    </body>
</html>