<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{person.name}}</title>
</head>
<body>
  <h3>{{person.fullname}}</h3><br>
  <a href="/">На главную</a><br>
  <a href="/person/{{person.id}}/addcar">Добавить машину</a><br><br>
  <storng>Баланс: {{person.balance}}</storng><br>
  <storng>История:</storng>
  <ol>
    {% for car in person.cars %}
      <li><a href="/car/{{ car.id }}">{{ car.name }}</a></li><br>
    {% endfor %}
  </ol>
</body>
</html>